<!DOCTYPE html>
<html lang="en">
<head>
  <title>WELCOME</title>
  <link rel="shortcut icon" href="favicon.ico" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
        .centered {
  position: fixed; /* or absolute */
  top: 40%;
  left: 30%;
}
body {
    background-image:url(http://www.macktrucks.com/-/media/images/trucks/mack_modelseries_granite_lgpromo1_sideview.jpg);
    background-repeat:no-repeat;
    background-position: 55% -80%;

 }
    </style>
</head>
<body >
        <h1 style="color:black;">Welcome to Truck and Loads!</h1>
        <div id="header" class="centered">
          <p class="lead" style="color:black;">Check out the various Trucks and Loads en route!</p>
      <button class="btn btn-warning center-block" onclick="location.href='http://127.0.0.1:8000/truckload/trucks/';">Trucks</button><br>
      <button class="btn btn-success center-block" onclick="location.href='http://127.0.0.1:8000/truckload/loads/';">Loads</button><br>
    </div>
</body>
</html>